body {
    background: rgb(76,86,106);
    background: radial-gradient(circle, rgba(76,86,106,1) 0%, rgba(46,52,64,1) 100%);
    width: 99%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.image {
    width: 50%;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.button {
    background-color: #88C0D0;
    height: 45px;
    width: 90px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    color: #2E3440;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    cursor: pointer;
    background-color: #62aabe;
}

.home-link {
    font-size: 22px;
    margin-left: 80px;
    font-weight: 500;
}

.logo {
    left: 30px;
    top: 6px;
    width: 35px;
    position: absolute;
    cursor: pointer;
}

.input-search {
    margin-left: 20em;
    width: 50em;
    height: 1.8em;
    border-radius: 20px;
}

.container {
    width: 100%;
}

.container div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-text {
    margin-top: 3em;
    display: flex;
}
.image-text img {
    color: #fff;
    margin-left: -8em;
}

.image {
    margin-right: -9em;
}

.text {
    margin-left: -5em;
    display: flex;
    flex-direction: column;
    color: white;
}
.text h1{
    font-size: 7em;
}
.text h2{
    font-size: 1.1em;
    font-weight: 400;
    margin-top: -4em;
    margin-left: -5em;
}

footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 99vw;
    height: 25px;
    bottom: 0em;
    background-color: rgba(46,52,64,1);
}

.about-contact a {
    margin-right: 1em;
}

.nombre {
    margin-left: 1em;
    color: #4C566A;
}